.navbar {
  height: 90px;
  width: 96%;
  max-width: 1200px;
  margin-bottom: 40px;
  margin-top: 35px;

  box-shadow: var(--shadow);

  background-color: var(--white);

  border-radius: var(--border_radius);
}

.drop-down {
  background-color: red;

  display: inline-flex;
  flex-direction: row;
  /* justify-content: space-around; */
  
  /* padding-left: 15%;
  padding-right: 15%; */

  width: 100%;
}
.menu_button{
  background-color:green;
  cursor: pointer;
  margin-left: 40px;
}

.menu_button:first-child{
  margin-left: 25%;
}

.cart_button{
  all: unset;
  cursor: pointer;
  background-color:#03cafc;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 100px;
  width: 100px;
  text-align: center;
}

.cart_button:hover{
  background-color: #00aeff;
}