:root {
  --white: white;
  --blue: rgb(67, 140, 223);
  --black: rgb(0, 0, 0);
  --yellow: #f1b717;
  --grey: rgb(63, 63, 63);
  --orange: #ff8800;

  --shadow: 5px 0px 15px rgba(0,0,0,0.5);
  --border_radius: 17px;
  --logo_width: 35px;
}
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("assets/pic.jpg");
  
  height: auto;
  width: 100%;
  min-width: 370px;
}
.body_container{
  width: 100%;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  height: 90px;
  width: 90%;
  max-width: 1200px;
  margin-bottom: 40px;
  margin-top: 35px;

  box-shadow: var(--shadow);

  background-color: var(--white);

  border-radius: var(--border_radius);
}
.navbar img {
  height: 90%;
  
  position: relative;
  left: 15px;
  top: 5%;
}
.drop-down {
  
}
.main-body { /* contains body cards */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 2px solid; */
}
.body-cards {
  border-radius: var(--border_radius);
  
  width: 350px;
  height: 370px;
  margin-bottom: 30px;

  backdrop-filter: blur(6px);

  box-shadow: var(--shadow);
}
.right-card {
  display: flex;

  margin-left: 5px;
  margin-right: 5px;
}
.right_card_container{
  margin-left: 40px;
}
.right_card_logo{
  /* TODO */

  /* border: 2px solid; */
  /* background-color:blue; */
  /* float: right; */
}
.right_card_form{
  
}
.right_card_form form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
}
#text, #number, #text_area{
  all: unset;
  border: 2px solid;
  margin-top: 25px;
  height: 30px;
  border-radius: var(--border_radius);
  backdrop-filter: blur(6px);
}
#text_area{
  height: 90px;
  backdrop-filter: blur(6px);
}
#send_button{
  margin-top: 25px;
  height: 30px;
  width: 90px;

  border-radius: var(--border_radius);

  background-color: var(--yellow);
}
.right-card img{
  width: 40px;
}
/* -------left card------- */
.left-card {
  margin-left: 15px;
  margin-right: 15px;
}
.left_card_continer{
  display: grid;
  margin-left: 18px;
}
.left_card_grid_element{
  position: relative;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
#left_card_title{
  grid-column-start: 1;
  grid-column-end: 3;

  margin-top: 45px;
}
.left_card_grid_element img{
  display: block;
  margin-top: 3px;
  margin-left: 3px;
  width: var(--logo_width);
  filter: invert(100%);
}
.left_card_grid_element:nth-child(even){ /* logos */
  width: 42px;
  height: 42px;

  border-radius: 100%;
  background-color: var(--black);
  padding: 5px;
}
.left_card_grid_element div{

}

.item {
  
}
.item:hover {

}
.item.active {

}
.item.bordered {
  
}
.navbar-items {
  
}


.icon-burger {
  
}
.icon-burger .line {
  
}

.right-card img {
  
}

.title {
  
}

.data {
  
}


input[type="text"] {
}
input[type="submit"] {
}

input[type="submit"]:hover {
 
}

input[type="text"]:focus {
 
}

textarea {
}

textarea:focus {
}
::placeholder {
}
