:root {
  --white: white;
  --blue: rgb(67, 140, 223);
  --black: rgb(0, 0, 0);
  --yellow: #f1b717;
  --grey: rgb(63, 63, 63);
  --orange: #ff8800;

  --shadow: 5px 0px 15px rgba(0,0,0,0.5);
  --border_radius: 17px;
  --logo_width: 35px;
  --open_menu_width:30px;
}
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("assets/pic.jpg");
  
  height: auto;
  width: 100%;
  min-width: 370px;
}
.body_container{
  width: 100%;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  height: 90px;
  width: 96%;
  max-width: 1200px;
  margin-bottom: 40px;
  margin-top: 35px;
  /* margin-left:1%; */

  box-shadow: var(--shadow);

  background-color: var(--white);

  border-radius: var(--border_radius);
}
.navbar img {
  height: 90%;
  
  position: relative;
  left: 15px;
  top: 5%;
}
.drop-down {
  position: absolute;
  top: 60px;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  width: 60%;

  z-index: 2;

  /* background-color:#ff8800; */

  /* border:2px solid; */
}
.menu_button{
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
}
.menu_button:hover{
  color: var(--grey);
}
.menu_button.active{
  border-bottom: 2px solid var(--orange);
}
.menu_button.active:hover{
  border-color: var(--yellow);
}
#sing_in_button:hover{
  background-color: var(--grey);
}
#sing_in_button{
  padding: 10px;

  border-radius: 6px;
  background-color: var(--black);
  color: var(--white);
}
.open_menu{
  width: var(--open_menu_width);
  height: var(--open_menu_width);
  position: absolute;
  top: 65px;
  right:34px;

  display: none;
}
.open_menu_line{
  background-color: var(--orange);
  height: calc(var(--open_menu_width) / 5);
  width: var(--open_menu_width);
}
/* -------body------- */
.main-body { /* contains body cards */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 2px solid; */
}
.body-cards {
  border-radius: var(--border_radius);
  
  width: 350px;
  height: 370px;
  margin-bottom: 30px;

  backdrop-filter: blur(6px);

  box-shadow: var(--shadow);
}
/* -------right card------- */
.right-card {
  display: flex;

  margin-left: 5px;
  margin-right: 5px;
}
.right_card_container{
  margin-left: 40px;
  margin-top: 10px;
  padding-right: 10px;
  width: 310px;
}
.right_card_logo{
  display: flex;
  justify-content: flex-end;
}
.right_card_form form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
}
#text, #number, #text_area{
  all: unset;

  width:100%;
  height:100%;

  padding-left: 12px;

  border: 2px solid;
  margin-top: 25px;
  height: 30px;
  border-radius: var(--border_radius);
  backdrop-filter: blur(6px);

  transition: width 0.5s;
}
::placeholder{
  color: var(--black);
}
#text:focus, #number:focus, #text_area:focus{
  width: 265px;
}
#text_area{
  height: 90px;
  backdrop-filter: blur(6px);
  padding-top: 3px;
}
#send_button{
  all: unset;
  margin-top: 25px;
  height: 35px;
  width: 90px;

  border-radius: var(--border_radius);

  background-color: var(--yellow);

  text-align: center;

  transition: background-color 0.5s;
}
#send_button:hover{
  background-color: var(--blue);
}
.right-card img{
  width: 40px;
}
/* -------left card------- */
.left-card {
  margin-left: 15px;
  margin-right: 15px;
}
.left_card_continer{
  display: grid;
  margin-left: 18px;
}
.left_card_grid_element{
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
#left_card_title{
  grid-column-start: 1;
  grid-column-end: 3;

  margin-top: 45px;
}
.left_card_grid_element img{
  display: block;
  margin-top: 3px;
  margin-left: 3px;
  width: var(--logo_width);
  filter: invert(100%);
}
.left_card_grid_element:nth-child(odd){ /* texts */
  display: flex;
  align-items: center;
}
.left_card_grid_element:nth-child(even){ /* logos */
  width: 42px;
  height: 42px;

  border-radius: 100%;
  background-color: var(--black);
  padding: 5px;
}
.left_card_grid_element:hover{
  transform: scale(1.08);
  /* width: 240px; */
}

/* -----------mobile---------- */
@media screen and (max-width: 740px) {
  .navbar{
    margin-bottom: 10px;
  }
  .drop-down{
    display: none;
  }
  .open_menu:focus + .drop-down{
    display: flex;

    position: inherit;
    margin-bottom: 20px;
    
    width: 96%;
    height: 220px; 
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--white);
    border-radius: var(--border_radius);
  }
  .menu_button{    
    text-align: center;
    margin-left: unset;
  }
  .open_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 3;
  }
}

.left_card_grid_element div{

}

.item {
  
}
.item:hover {

}
.item.active {

}
.item.bordered {
  
}
.navbar-items {
  
}


.icon-burger {
  
}
.icon-burger .line {
  
}

.right-card img {
  
}

.title {
  
}

.data {
  
}


input[type="text"] {
}
input[type="submit"] {
}

input[type="submit"]:hover {
 
}

input[type="text"]:focus {
 
}

textarea {
}

textarea:focus {
}
::placeholder {
}

