#MainPage{
    /* border: 1px solid; */
    /* color: white; */
}

#MainPage div{
    border: 1px solid;
}

#MainPage_header{

}

#MainPage_body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.MainPage_body_part{
    width: 45%;
    /* height: 70%; */

    min-width: 500px;
    
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#MainPage_left{
    border: 1px solid;
}

#MainPage_left div{
    margin-left: 10%;
    margin-right: 10%;

    margin-top: 5px;
    margin-bottom: 5px;
}

#MainPage_right{
    border: 1px solid;
}

#mainpage_title{
    font-size: 45px;
}
#mainpage_title h1{
    margin: 0px;
}

#mainpage_search_button{
    background-color: var(--yellow);
}

#last_searches{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 270px;
}
#last_searches div{
    margin-left: 7px;
    margin-right: 7px;
}
