/* this is the header in SearchPage and CoinDetialPage */
.mutual_header{
    border: 1px solid;

    height: 60px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    background-color: var(--gray);
}

#button_span{
    margin-right: 150px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#text_span{
    margin-left: 150px;
    height: 100%;
    line-height: 60px;
    color: var(--yellow);
    font-size: 20px;
}